<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/public/css/home.css">
    <title>Tenis</title>
</head>
<body>
    <aside>
        <header>
            <nav>
                <a href="">Hombre</a>
                <a href="">Mujer</a>
                <a href="">Cerrar Sesión</a>
            </nav>
        </header>
    </aside>
    <main>
        <h1>Tenis</h1>
        <section>

        </section>
    </main>
</body>
</html>